@font-face {
    font-family: 'Droid Sans Mono';
    src: url('../fonts/DroidSansMono.woff2') format('woff2'), url('../fonts/DroidSansMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}